body {
    padding:0px;
    margin:0px;
    font-family: 'Roboto', sans-serif, serif;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    align-items: center;

}

#header-logo {
    padding: 18px 180px;
    font-size: 25px;
    font-weight: bold;
}
.header-links {
    display: flex;
    margin-left: auto;
}

.right-links {
    display:flex;
    list-style: none;
    gap: 20px;
    padding-right: 190px;
}

.hero {
    display: flex;
    background-color: #1f2937;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 70px 40px;
}

.hero-title {
    font-size: 50px;
    max-width: 500px;
}

.hero-subtext {
    max-width: 400px;
    
}

.hero-signup {
    background-color: #3b82f6;
    color: white;
    padding: 8px 30px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}

.hero-image {
    display: flex;
    width: 500px;
    height: 220px;
    background-color: #6d747d;
    align-items:center;
    justify-content: center;
}


